@model L02P2_2021GB650_2021CZ601.Models.comentarios_libros

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>comentarios_libros</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_libro" class="control-label"></label>
                <input asp-for="id_libro" class="form-control" />
                <span asp-validation-for="id_libro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comentarios" class="control-label"></label>
                <input asp-for="comentarios" class="form-control" />
                <span asp-validation-for="comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuario" class="control-label"></label>
                <input asp-for="usuario" class="form-control" />
                <span asp-validation-for="usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_ad" class="control-label"></label>
                <input asp-for="created_ad" class="form-control" />
                <span asp-validation-for="created_ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
